{% load static %}
<div class="col-sm-12 mt-1">
    <div class="text-center">
        <h6>WEBSITE FUNDASAUN NOVA ESPERANSA</h6>
    </div>
</div>

<div class="col-sm-12">
    <div class="card">
        <div class="container mt-1">
            <div class="row">
                <!-- Grafik -->
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h6 class="card-title">Graph</h6>
                            
                        </div>
                    </div>
                </div>
                 <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h6 class="card-title">Welcome</h6>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'Charts/chart.js/chart.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/apexcharts.min.js' %}"></script>
<script src="{% static 'Charts/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/echarts.min.js' %}"></script>


