{% load static %}
<header class="site-header">
	<nav class="navbar navbar-expand-md bg-success  text-black fixed-top " style="background: linear-gradient(to bottom,blue,#BF40BF);color: #BF40BF" >
		<a class="navbar-brand text-white" href="{% url 'index' %}">
		<img src="{% static 'assets/img/logo/Picture.png' %}" alt="Logo" style="width:30px;">  
		 WEB-F_NETIL
		</a>
		<button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon bg-dark"></span>
		</button>
		{% if user.is_authenticated %}
			
			{% if user.groups.all.0.name == 'Admin' %}
				{% include 'main/navbarAdminNacional.html' %}
			
			{% endif %}
		{% endif %}
	</nav>
</header>